{% extends "main/base.html" %}

{% load static %}

{% block title %}
    eternity | Добавить запись
{% endblock %}

{% block content %}

<div class="post-wrapper">
    <div class="post">
        <div class="post-head">
            <div class="post-content">
            <span class="font-bold-large inflex-center post-title" style="padding-bottom: 20px; padding-top: 20px;">
                Добавить новый комментарий
            </span>
        </div>
    </div>
        <div class="post-content">
            <form method="POST" class="post-block-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-left text_label font-bold-small" style="color: gray;">
                    Текст комментария:
                </div>
                <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                    {{ form.content }}
                </div>
                <div class="post-button font-bold-small flex-center">
                    <button class="button-alert font-bold-small" type="submit">Написать</button>
                    <a href="/" class="button">Отменить</a>
                </div>
            </form>
        </div>
</div>

{% endblock %}
