{% extends "main/base.html" %}

{% load static %}

{% block title %}
    eternity - Добавить пост
{% endblock %}

{% block content %}
<div class="post">
    <div class="post_heading_block">
        <span class="flex-center post-block">
            <h1 class="h1">Добавить новую запись</h1>
        </span>
    </div>
    <form method="POST" class="post-block" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block flex-center">
            {{ form.title }}
        </div>
        <div class="block flex-center">
            {{ form.tag }}
        </div>
        <div class="block flex-center">
            {{ form.content }}
        </div>
        <div class="block flex-center">
            {{ form.image }}
        </div>
        <nav class="post-block flex-center">
            <div class="post-block"></div>
            <div class="post-block">
                <button class="post_button-submit flex-center" type="submit">Запостить!</button>
            </div>
            <div class="post-block">
                <a href="/" class="post_button flex-center">Отмена</a>
            </div>
        </nav>
    </form>
</div>
{% endblock %}
