{% extends "main/base.html" %}

{% load static %}

{% block title %}
    eternity | Авторизация
{% endblock %}

{% block content %}

<main class="post-wrapper-mini">
    <div class="post">
        <div class="post_heading_block">
            <span class="flex-center post-block">
                <h1 class="h1">Авторизация</h1>
            </span>
        </div>
        <div class="post_space"></div>
        <form method="POST" class="post-block-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="block-label flex-left text_label">
                Имя пользователя
            </div>
            <div class="block flex-center">
                {{ form.username }}
            </div>
            <div class="block-label flex-left text_label">
                Пароль
            </div>
            <div class="block flex-center">
                {{ form.password }}
            </div>
            <nav class="block flex-center">
                <button class="post_button-submit-big flex-center" type="submit">Войти</button>
            </nav>
        </form>
    </div>
</main>

{% endblock %}

