{% extends "main/base.html" %}

{% load static %}

{% block title %}eternity | Удалить коммент#{{ object.id }}?{% endblock %}

{% block content %}

<main class="post-wrapper-mini">
    <div class="post">
        <div class="post-head post-title flex-center" style="display: flex;">
            <span class="font-bold-large flex-center">
                Удалить комментарий?
            </span>
        </div>
        <div class="post-content" style="padding-top: 15px;">
            <form method="POST" class="post-block-form" enctype="multipart/form-data" action="?next={{ next_url }}">
                {% csrf_token %}
                <div class="post-button font-bold-small flex-center">
                    <button class="button-alert font-bold-small" type="submit">Удалить</button>
                    <a href="{{ next_url }}" class="button" style="width: 118px; height: 33px;">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
