{% extends "main/base.html" %}

{% load static %}
{% load split_filter %}
{% load comment_count %}

{% block title %}
    eternity | {{ object.title  }}
{% endblock %}

{% block content %}

    <div class="post-wrapper">
        <div class="post">
            <div class="post-head post-title" style="display: flex;">
                <div style="width: 50%; display: flex;">
                    {% for i in profile %}
                        {% if i.user ==  detail_post.author %}
                            {% if i.photo %}
                                <img src="/media/{{ i.photo }}" class="post-img-mini">
                            {% else %}
                                <img src="{% static 'main/images/default_avatar.png' %}" class="post-img-mini">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div style="display: grid;">
                        <a href="/accounts/profile/id{{ detail_post.author.id }}" class="post-link font-roboto-bold-large" style="align-self: flex-start;">{{ detail_post.author }}</a>
                        <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; font-size: 12.5px; line-height: 10px;">
                        {% for j in profile %}
                            {% if j.user == detail_post.author %}
                                {% if j.is_online == True %}
                                    Online
                                {% else %}
                                    Offline
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </span> 
                        <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; font-size: 12.5px; line-height: 10px;">
                            {{ detail_post.date|date:'d.m.Y в H:i' }}
                        </span> 
                    </div>
                </div>
                <div style="width: 50%; display: flex; justify-content: flex-end;">
                    <div style="display: flex; align-content: flex-start; justify-content: flex-end;">
                        <script>
                            function showMenu{{detail_post.id}}(){
                                document.getElementById('droplist{{ detail_post.id }}').classList.toggle("show");
                            }
                            window.onclick = function(event) {
                                if (!event.target.matches('.drop-icon')) {
                                    var droplist = document.getElementsByClassName('drop-list');
                                    var i;
                                    for (i = 0; i < droplist.length; i++) {
                                        var opendroplist = droplist[i];
                                        if (opendroplist.classList.contains('show')) {
                                            opendroplist.classList.remove('show');
                                        }
                                    }
                                }
                            }
                        </script>
                        <img src="{% static 'main/images/icons/more.png' %}" class="drop-icon" onclick="showMenu{{detail_post.id}}()">
                        {% if request.user ==  detail_post.author %}
                        <div class="drop-list font-roboto-regular-normal" id="droplist{{detail_post.id}}" style="font-size: 12.5px; line-height: 10px;">
                            <a href="/post/{{ detail_post.id }}/comment/add?next={{ request.path }}" class="drop-link">
                                <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Комментировать {% comment_count detail_post.title %}
                                </span>
                            </a>    
                            <!-- <a href="/post/{{ detail_post.id }}" class="drop-link font-regular-small">
                                <img src="{% static 'main/images/icons/magnifying-glass.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Читать дальше
                                </span>
                            </a> -->
                            <a href="/post/{{ detail_post.id }}/update?next={{ request.path }}" class="drop-link ">
                                <img src="{% static 'main/images/icons/settings.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Изменить
                                </span>
                            </a>
                            <a href="/post/{{ detail_post.id }}/delete" class="drop-link">
                                <img src="{% static 'main/images/icons/garbage.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Удалить
                                </span>
                            </a>
                        </div>
                        {% else %}
                        <div class="drop-list" id="droplist{{detail_post.id}}">
                            <a href="/post/{{ detail_post.id }}/comment/add?next={{ request.path }}" class="drop-link font-roboto-regular-normal" style="font-size: 12.5px; line-height: 10px;">
                                <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Комментировать {% comment_count detail_post.title %}
                                </span>
                            </a>    
                            <!-- <a href="/post/{{ detail_post.id }}" class="drop-link font-regular-small">
                                <img src="{% static 'main/images/icons/magnifying-glass.png' %}" alt="" class="icon">
                                <span style="margin-left: 10px;">
                                    Читать дальше
                                </span>
                            </a> -->
                        </div>    
                        {% endif %}
                    </div>
                </div>
            </div> 
            <div class="post-content">
                <span class="font-nunito-regular-large inflex-left post-text" style="font-size: 21.5px;">
                    {{ detail_post.title }}
                </span>
                <div class="post-tag" style="margin-bottom: 10px;">
                    {% for j in detail_post.tag|split %}
                        {% if detail_post.tag %}
                    <div class="post-tag-text font-roboto-bold-normal">
                        <a href="/tag/{{ j }}" class="tag-link">#{{ j }}</a>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex-left font-regular-medium"></div>
                {% if detail_post.image %}

                <div class="flex-center" style="max-width: 100%; max-height: 500px; padding-left: 25px; padding-right: 25px;">
                    <img src="/media/{{ detail_post.image }}" alt="{{ detail_post.image }}" id="detailImg" class="post-img">
                    <div id="myModal" class="modal">
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">
                            &times;
                        </span>
                        <img class="modal-content" id="targetImg">
                    </div>
                </div>

                <script src="{% static 'main/js/img_enlargement.js' %}"></script>

                {% endif %}
                <div class="inflex-left post-text-short font-nunito-regular-normal" style="font-size: 15px;">
                    {{ detail_post.content }}
                </div>
                {% if request.user !=  detail_post.author %}
                <div class="post-button font-nunito-regular-normal flex-right">
                    <!-- <a href="/post/{{ detail_post.id }}/add-comment" class="button">Комментировать</a>   -->
                    <a href="/post/{{ detail_post.id }}/comment/add?next={{ request.path }}#comment" class="button">Комментировать</a>
                    <a name="comment" href="/" class="button">Назад</a>
                </div>
                {% else %}
                <div class="post-button font-nunito-regular-normal flex-right">
                    <!-- <a href="/post/{{ detail_post.id }}/update?next={{ request.path }}" class="button">Изменить</a>
                    <a href="/post/{{ detail_post.id }}/delete" class="button-alert">Удалить</a>
                    <a href="/post/{{ detail_post.id }}/add-comment?next={{ request.path }}" class="button">Комментировать</a> -->
                    <a href="/post/{{ detail_post.id }}/comment/add?next={{ request.path }}#comment" class="button">Комментировать</a>
                    <a name="comment" href="/" class="button">Назад</a>
                </div> 
                {% endif %}
            </div>
        </div>
    </div>

    <!-- comment block -->

    {% for j in comment %}
        {% if j.post == detail_post %}
            {% if j.is_reply == False %}
            <div class="comment-wrapper-lvl-1">
                {% for k in profile %}
                    {% if k.user == j.author %}
                        {% if k.photo %}
                            <img src="/media/{{ k.photo }}" class="post-img-mini" style="margin-top: 7.5px;">
                        {% else %}
                            <img src="{% static 'main/images/default_avatar.png' %}" class="post-img-mini" style="margin-top: 7.5px;">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="comment-wrapper">
                    <div class="flex-center post-head post-title">
                        <div class="flex-left" style="width: 50%;">
                            <div style="display: grid;">
                                <a href="/accounts/profile/id{{ j.author.id }}" class="post-link font-roboto-bold-large" style="margin-left: 0px;">{{ j.author }}</a>
                                <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; margin-left: 0px; font-size: 12.5px; line-height: 10px;">
                                    {{ j.created|date:'d b в H:i'|lower }}
                                </span>
                            </div>
                        </div>
                        <div class="flex-right" style="width: 50%;">
                            {% if j.author == request.user %}
                            <a href="/comment/{{ j.id }}/update?next={{ request.path }}" class="drop-link font-regular-small" style="display: flex; align-items: center;">
                                <img src="{% static 'main/images/icons/edit.png' %}" alt="" class="icon">
                                <span class="font-nunito-regular-normal" style="margin-left: 10px; align-self: auto;">
                                    Изменить
                                </span>
                            </a>
                            <a href="/comment/{{ j.id }}/delete?next={{ request.path }}" class="drop-link font-regular-small" style="display: flex; align-items: center;">
                                <img src="{% static 'main/images/icons/garbage.png' %}" alt="" class="icon">
                                <span class="font-nunito-regular-normal" style="margin-left: 10px; align-self: auto;">
                                    Удалить
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="font-nunito-regular-normal inflex-left post-text-сomment" style="font-size: 15px;">
                        {{ j.content }}
                    </div>
                    <div class="post-button font-regular-small flex-right">
                        <a id="replyBtn" href="/post/{{ detail_post.id }}/comment/reply{{ j.id }}?next={{ request.path }}" class="button font-nunito-regular-normal">Ответить</a>
                    </div>        
                </div>
            </div>
            {% for q in comment %}
                {% if q.is_reply == True and q.parent == j.id %}
                <div class="comment-wrapper-lvl-2">
                    {% for k in profile %}
                        {% if k.user == q.author %}
                            {% if k.photo %}
                                <img src="/media/{{ k.photo }}" class="post-img-mini" style="margin-top: 7.5px;">
                            {% else %}
                                <img src="{% static 'main/images/default_avatar.png' %}" class="post-img-mini" style="margin-top: 7.5px;">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="comment-wrapper">
                        <div class="flex-center post-head post-title">
                            <div class="flex-left" style="width: 50%;">
                                <div style="display: grid;">
                                    <a href="/accounts/profile/id{{ j.author.id }}" class="post-link font-roboto-bold-large" style="margin-left: 0px;">{{ q.author }}</a>
                                    <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; margin-left: 0px; font-size: 12.5px; line-height: 10px;">
                                        {{ q.created|date:'d b в H:i'|lower }}
                                    </span>
                                </div>
                            </div>
                            <div class="flex-right" style="width: 50%;">
                                {% if q.author == request.user %}
                                <a href="/comment/{{ q.id }}/update?next={{ request.path }}" class="drop-link font-regular-small" style="display: flex; align-items: center;">
                                    <img src="{% static 'main/images/icons/edit.png' %}" alt="" class="icon">
                                    <span class="font-nunito-regular-normal" style="margin-left: 10px; align-self: auto;">
                                        Изменить
                                    </span>
                                </a>
                                <a href="/comment/{{ q.id }}/delete?next={{ request.path }}" class="drop-link font-regular-small" style="display: flex; align-items: center;">
                                    <img src="{% static 'main/images/icons/garbage.png' %}" alt="" class="icon">
                                    <span class="font-nunito-regular-normal" style="margin-left: 10px; align-self: auto;">
                                        Удалить
                                    </span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="font-nunito-regular-normal inflex-left post-text-сomment" style="font-size: 15px;">
                            {{ q.content }}
                        </div>
                        <div class="post-button font-regular-small flex-right">
                            <a id="replyBtn" href="/post/{{ detail_post.id }}/comment/reply{{ j.id }}?next={{ request.path }}" class="button font-nunito-regular-normal">Ответить</a>
                        </div>        
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}
