{% extends "main/base.html" %}
{% load static %}
{% load split_filter %}
{% load comment_count %}
{% block title %}
    eternity | Лента
{% endblock %}
{% block content %}
    {% if post %}
        {% for i in post %}
            <div class="post-wrapper">
                <div class="post">
                    <div class="post-head post-title" style="display: flex;">
                        <div style="width: 50%; display: flex;">
                            {% for j in profile %}
                                {% if i.author == j.user %}
                                    {% if j.photo %}
                                        <img src="/media/{{ j.photo }}" class="post-img-mini">
                                    {% else %}
                                        <img src="{% static 'main/images/default_avatar.png' %}" class="post-img-mini">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div style="display: grid;">
                                <a href="/accounts/profile/id{{ i.author.id }}" class="post-link font-roboto-bold-large" style="align-self: flex-start;">{{ i.author }}</a>
                                <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; font-size: 12.5px; line-height: 10px;">
                                {% for j in profile %}
                                    {% if j.user == i.author %}
                                        {% if j.is_online == True %}
                                            Online
                                        {% else %}
                                            Offline
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </span> 
                                <span class="inflex-left post-text-header font-roboto-regular-normal" style="align-self: flex-start; color: #646464; font-size: 12.5px; line-height: 10px;">
                                    {{ i.date|date:'d.m.Y в H:i' }}
                                </span> 
                            </div>
                        </div>
                        <div style="width: 50%; display: flex; justify-content: flex-end;">
                            <div style="display: flex; justify-content: flex-end;">
                                <script>
                                    function showMenu{{i.id}}(){
                                        document.getElementById('droplist{{ i.id }}').classList.toggle("show");
                                    }
                                    window.onclick = function(event) {
                                        if (!event.target.matches('.drop-icon')) {
                                            var droplist = document.getElementsByClassName('drop-list');
                                            var i;
                                            for (i = 0; i < droplist.length; i++) {
                                                var opendroplist = droplist[i];
                                                if (opendroplist.classList.contains('show')) {
                                                    opendroplist.classList.remove('show');
                                                }
                                            }
                                        }
                                    }
                                </script>
                                <img src="{% static 'main/images/icons/more.png' %}" class="drop-icon" onclick="showMenu{{i.id}}()">
                                {% if request.user ==  i.author %}
                                <div class="drop-list" id="droplist{{i.id}}">
                                    <a href="/post/{{ i.id }}/comment/add?next={{ request.path }}" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Комментарии {% comment_count i.title %}
                                        </span>
                                    </a>    
                                    <a href="/post/{{ i.id }}" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/magnifying-glass.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Читать дальше
                                        </span>
                                    </a>
                                    <a href="/post/{{ i.id }}/update?next={{ request.path }}" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/settings.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Изменить
                                        </span>
                                    </a>
                                    <a href="/post/{{ i.id }}/delete" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/garbage.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Удалить
                                        </span>
                                    </a>
                                </div>
                                {% else %}
                                <div class="drop-list" id="droplist{{i.id}}">
                                    <a href="/post/{{ i.id }}/comment/add?next={{ request.path }}" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Комментарии {% comment_count i.title %}
                                        </span>
                                    </a>    
                                    <a href="/post/{{ i.id }}" class="drop-link font-regular-small">
                                        <img src="{% static 'main/images/icons/magnifying-glass.png' %}" alt="" class="icon">
                                        <span style="margin-left: 10px;">
                                            Читать дальше
                                        </span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>    
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="font-roboto-bold-large inflex-left post-text" style="font-size: 21.5px;">
                            {{ i.title }}
                        </span>
                        <div class="post-tag" style="margin-bottom: 10px;">
                            {% for j in i.tag|split %}
                                {% if i.tag %}
                                    <div class="post-tag-text font-bold-medium">
                                        <a href="/tag/{{ j }}" class="tag-link">#{{ j }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="flex-left font-regular-medium"></div>
                        {% if i.image %}
                        <div class="flex-center" style="max-width: 100%; max-height: 500px; padding-left: 25px; padding-right: 25px;">
                            <img src="/media/{{ i.image }}" class="post-img">
                        </div>
                        {% endif %}
                        <div class="inflex-left post-text-short font-nunito-regular-normal">
                            {{ i.content|truncatewords:23 }}
                        </div>
                        {% if request.user !=  i.author %}
                        <div class="flex-center">
                            <div class="flex-left" style="width: 50%;">
                                <a href="/post/{{ i.id }}#comment" class="ext-comment flex-center font-regular-small">
                                    <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                    <span style="margin-left: 5px; margin-right: 5px;">
                                        {% comment_count i.title %}
                                    </span>
                                </a>    
                            </div>
                            <div class="flex-right" style="width: 50%;">
                                <div class="post-button font-regular-small flex-right">
                                    <!-- <a href="/post/{{ i.id }}/add-comment?next={{ request.path }}" class="button">Комментарии {% comment_count i.title %}</a>- -->
                                    <a href="/post/{{ i.id }}" class="button">Читать дальше</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="flex-center">
                            <div class="flex-left" style="width: 50%;">
                                <a href="/post/{{ i.id }}#comment" class="ext-comment flex-center font-regular-small">
                                    <img src="{% static 'main/images/icons/chat.png' %}" alt="" class="icon">
                                    <span style="margin-left: 5px; margin-right: 5px; color: #000000;">
                                        {% comment_count i.title %}
                                    </span>
                                </a>    
                            </div>
                            <div class="flex-right" style="width: 50%;">
                                <div class="post-button font-regular-small flex-right">
                                    <!-- <a href="/post/{{ i.id }}/update?next={{ request.path }}" class="button">Изменить</a>
                                    <a href="/post/{{ i.id }}/delete" class="button-alert">Удалить</a>
                                    <a href="/post/{{ i.id }}/add-comment?next={{ request.path }}" class="button">Комментарии {% comment_count i.title %}</a>     -->
                                    <a href="/post/{{ i.id }}" class="button">Читать дальше</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}    
        <main class="post-wrapper-mini">
            <div class="post">
                <div class="post-head post-title">
                    <span class="font-bold-large flex-center">
                        Упс... Записей не обнаружено...
                    </span>
                </div>
                <div class="post-content">
                    <span class="font-nunito-regular-normal flex-center post-text">
                        По запросу ничего не найдено :(
                    </span>
                    <div class="flex-center" style="padding-bottom: 20px; padding-top: 10px;">
                        <img src="{% static 'main/images/icons/not-found.png' %}" class="post-img" style="width: 100px;">
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock %}
