{% extends "main/base.html" %}

{% block content %}
<div class="main_content">
    <span class="post_h1">
        <h1 align="center">портфолио</h1>
    </span>
    <div class="gallery">
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/cyan_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/flower_forest_in_the_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/under_the_cliff.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sunset_forest.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/sun_beam.jpg')}}">
            </span>
        </div>
        <div class="gallery_post">
            <span class="gallery_img">
                <img src="{{url_for('static', filename='images/among_trees/look_up.jpg')}}">
            </span>
        </div>
    </div>
</div>

{% endblock %}