{% extends "main/base.html" %}

{% load static %}

{% block title %}

    eternity - {{  object.user }} - id{{  object.user.id }}

{% endblock %}

{% block content %}

<div class="post">
    <div class="post_heading_block">
        <div class="block-profile flex-center">
            <span class="flex-left" style="width: 50%;">
                <h1 class="h2 ">{{ object.user.first_name }}</h1>
                <h1 class="h2">{{ object.user.last_name }}</h1>  
                <h1 class="h2"> "{{ object.user }}"</h1>
            </span>
            {% if request.user == object.user %}
            <span class="flex-right" style="width: 50%;">
                <a href="/accounts/profile/id{{ request.user.id }}/main" class="post_link h2" style="font-size: 20px; font-family: Helvetica;">Редактировать профиль</a>
            </span>
            {% else %}
            <span class="flex-right" style="width: 50%;">
            </span>
            {% endif %}
        </div>
    </div>
    <div class="post_heading_block flex-center" style="align-items: flex-start; margin-top: 30px;">
        <span class="flex-center" style="width: 50%;">
            <div class="post_img_profile">
                <img src="/media/{{ object.user.profile.photo }}">
            </div>
        </span>
        <span style="width: 50%;">
            <div class="block-label flex-left text_label">
                Биография:
            </div>
            <div class="block flex-left text-profile">
                {{ object.user.profile.bio }}
            </div>
            <div class="block-label flex-left text_label">
                Недавняя активность:
            </div>
            <div class="block flex-left text-profile">
                <table>
                    {% for i in post %}
                    {% if object.user == i.author %}
                    <tr>
                        <td class="text-regular">{{ i.date|date:'d.m.Y в H:i' }}</td>
                        <td class="text-regular">напиcал пост</td>
                        <td class="text-dedicated"><a href="/post/{{ i.id }}" class="text-dedicated">"{{ i }}"</a></td>  
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table> 
            </div>
        </span>
    </div>

{% endblock %}
