{% extends "main/base.html" %}

{% load static %}

{% block title %}

    eternity | {{  object.user }}-id{{  object.user.id }}

{% endblock %}

{% block content %}

<main class="post-wrapper-medium">
    <div class="post">
        <div class="post-head">
            <span class="font-bold-large inflex-center" style="padding-bottom: 20px; padding-top: 20px; width: 100%;">
                {{ object.user }}
            </span>
            <span class="font-bold-medium inflex-center" style="padding-bottom: 20px; padding-top: 20px; width: 100%;">
                {% if object.is_online == True %}
                    Online
                {% else %}
                    Offline
                {% endif %}
            </span>
            {% if request.user == object.user %}
            <span class="post-title-none-underline inflex-center ">
                <span class="inflex-center profile-link-line" style="width: 100%;">
                    <a href="/accounts/profile/id{{ object.user.id }}/edit?next={{ request.path }}" class="profile-link font-bold-medium">Редактировать</a>
                </span>
            </span>
            {% endif %}
            <div class="flex-center">
                {% if object.user.profile.photo %}

                <img src="/media/{{ object.user.profile.photo }}" class="profile-photo">

                {% else %}

                <img src="{% static 'main/images/default_avatar.png' %}" class="profile-photo">

                {% endif %}
            </div>
            <span class="font-bold-large inflex-center post-title" style="padding-bottom: 20px; padding-top: 20px;"></span>    
        </div>
        <div class="post-content">
            <div class="flex-left font-bold-small prfile-text" style="color: gray;">
                Имя пользователя:
            </div>
            <div class="flex-left font-regular-medium prfile-text" style="width: 100%; padding-bottom: 30px;">
                {{ object.user.first_name }}
            </div>
            <div class="flex-left font-bold-small prfile-text" style="color: gray;">
                Фамилия пользователя:
            </div>
            <div class="flex-left font-regular-medium prfile-text" style="width: 100%; padding-bottom: 30px;">
                {{ object.user.last_name }}
            </div>
            <div class="flex-left font-bold-small prfile-text" style="color: gray;">
                E-MAIL:
            </div>
            <div class="flex-left font-regular-medium prfile-text" style="width: 100%; padding-bottom: 30px;">
                {{ object.user.email }}
            </div>
            <div class="flex-left font-bold-small prfile-text" style="color: gray;">
                Обо мне:
            </div>
            <div class="flex-left font-regular-medium prfile-text" style="width: 95%; padding-bottom: 30px;">
                {{ object.user.profile.bio }}
            </div>
        </div>    
    </div>
</main>
{% endblock %}
