{% extends "main/base.html" %}

{% load static %}

{% block title %}

    eternity - {{  object.user }} - id{{  object.user.id }}

{% endblock %}

{% block content %}

<main class="post-wrapper-mini">
    <div class="post">
        <div class="post-block flex-center" style="border-bottom-width: 1px; border-bottom-style: solid;">
            <div class="post-block flex-center" style="width: 50%;">
                <a href="/accounts/profile/id{{ request.user.id }}/main" class="profile-link flex-left">Основная информация</a>
            </div>
            <div class="post-block flex-center" style="width: 50%;">
                <a href="/accounts/profile/id{{ request.user.id }}/extra" class="profile-link flex-rigth">Дополнительная информация</a>
            </div>
        </div>
            <form method="POST" class="post-block" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="block flex-center">
                    {{ form.first_name }}
                </div>
                <div class="block flex-center">
                    {{ form.last_name }}
                </div>
                <div class="block flex-center">
                    {{ form.email }}
                </div>
                <nav class="block flex-center">
                    <div class="block">
                        <button class="post_button-submit flex-center" type="submit">Изменить</button>
                    </div>
                    <div class="block">
                        <a href="/accounts/profile/id{{ request.user.id }}" class="post_button flex-center">Отмена</a>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</main>

{% endblock %}