{% extends "main/base.html" %}

{% load static %}

{% block title %}

    eternity - {{  object.user }} - id{{  object.user.id }}

{% endblock %}

{% block content %}

<main class="post-wrapper-medium">
    <div class="post">
        <div class="post-head">
            <span class="font-bold-large inflex-center" style="padding-bottom: 20px; padding-top: 20px; width: 100%;">
                {{ object.user }}
            </span>
            <span class="post-title-none-underline inflex-center ">
                <span class="inflex-center profile-link-line" style="width: 50%;">
                    <a href="/accounts/profile/id{{ object.user.id }}/main" class="profile-link font-bold-medium">Основная информация</a>
                </span>
                <span class="inflex-center profile-link-line" style="width: 50%;">
                    <a href="/accounts/profile/id{{ object.user.id }}/extra" class="profile-link font-bold-medium">Дополнительная информация</a>
                </span>
            </span>
            <div class="flex-center">
                {% if object.user.profile.photo %}

                <img src="/media/{{ object.user.profile.photo }}" class="profile-photo">

                {% else %}

                <img src="{% static 'main/images/default_avatar.png' %}" class="profile-photo">

                {% endif %}
            </div>
            <span class="font-bold-large inflex-center post-title" style="padding-bottom: 20px; padding-top: 20px;"></span>    
        </div>
        <div class="post-content">
            <form method="POST" class="post-block-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-left text_label font-bold-small" style="color: gray;">
                    Аватар пользователя (Используемые форматы: .jpg, .jpeg, .png)
                </div>
                <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                    {{ form.photo }}
                </div>
                <div class="flex-left text_label font-bold-small" style="color: gray;">
                    Обо мне:
                </div>
                <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                    {{ form.bio }}
                </div>
                <div class="post-button font-bold-medium flex-center">
                    <button class="button-alert font-bold-small" type="submit">Изменить</button>
                    <a href="/accounts/profile/id{{ request.user.id }}" class="button">Отменить</a>
                </div>
            </form>
        </div>
</main>

{% endblock %}
