{% extends "main/base.html" %}

{% load static %}

{% block title %}
    Изменить | {{ object.title }}
{% endblock %}

{% block content %}

<div class="post-wrapper">
    <div class="post">
        <div class="post-head">
            <div class="post-content">
            <span class="font-bold-large inflex-center post-title" style="padding-bottom: 20px; padding-top: 20px;">
                Изменить пост #{{ object.id }} | {{ object.title }}
            </span>
        </div>
    </div>
    <div class="post-content">
        <form method="POST" class="post-block-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-left text_label font-bold-small" style="color: gray;">
                Название поста:
            </div>
            <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                {{ form.title }}
            </div>
            <div class="flex-left text_label font-bold-small" style="color: gray;">
                Теги (Используйте символ запятой "," чтобы разделить теги, не используйте пробел): 
            </div>
            <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                {{ form.tag }}
            </div>
            {% if object.image %}

            <div class="flex-left text_label font-bold-small" style="color: gray;">
                Предварительный просмотр:
            </div>
            <div class="flex-center" style="width: 100%; padding-bottom: 40px; padding-top: 40px;">
                <img src="/media/{{ object.image }}" class="post-img">
            </div>

            {% else %}

            <div class="flex-left text_label font-bold-small" style="color: gray; padding-bottom: 40px;">
                Нет изображения...
            </div>

            {% endif %}
            <div class="flex-left text_label font-bold-small" style="color: gray;">
                Содержание статьи:
            </div>
            <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                {{ form.content }}
            </div>
            <div class="flex-left text_label font-bold-small" style="color: gray;">
                Изображение для статьи (Используемые форматы: .jpg, .jpeg, .png, .gif):
            </div>
            <div class="inflex-center" style="width: 100%; padding-bottom: 40px;">
                {{ form.image }}
            </div>
            <div class="post-button font-bold-small flex-center">
                <button class="button-alert font-bold-small" type="submit">Изменить</button>
                <a href="/" class="button">Отменить</a>
            </div>
        </form>
    </div>
</div>  



<!-- <div class="post">
    <div class="post_heading_block">
        <span class="flex-center post-block">
            <h1 class="h1 font-bold-large">Изменить пост #{{ object.id }} - "{{ object.title }}"</h1>
        </span>
    </div>
    <div class="post_space"></div>
    <form method="POST" class="post-block-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block-label flex-left text_label font-bold-small">
            Название поста
        </div>
        <div class="block flex-center">
            {{ form.title }}
        </div>
        <div class="block-label flex-left text_label font-bold-small">
            Теги
        </div>
        <div class="block flex-center">
            {{ form.tag }}
        </div>
        <div class="block-label flex-left text_label font-bold-small">
            Предварительный просмотр
        </div>
        <div class="post_img_update flex-center">
            <img src="/media/{{ object.image }}">
        </div>
        <div class="block-label flex-left text_label font-bold-small">
            Изображение для статьи. Используемые форматы: .jpg, .jpeg, .png, .gif
        </div>
        <div class="block flex-center">
            {{ form.image }}
        </div>
        <div class="block-label flex-left text_label">
            Текст поста
        </div>
        <div class="block flex-center">
            {{ form.content }}
        </div>
        <nav class="post-block flex-center">
            <div class="post-block"></div>
            <div class="post-block">
                <button class="post_button-submit flex-center font-bold-medium" type="submit">Изменить</button>
            </div>
            <div class="post-block">
                <a href="/post/{{ object.id }}" class="post_button flex-center font-bold-medium">Отмена</a>
            </div>
        </nav>
    </form>
</div> -->

{% endblock %}
