html{
    height: 98%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F6F7F8; 
}
header{
    flex: 0 0 auto;
}

main{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header{
    height: 40px;
    background-color: #66a4ac;
    color: #c2dde4;
}

.header-link{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: #c2dde4;
    text-decoration: none;
    transition-duration: 0.6s;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.header-link:hover{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    background-color: #c2dde4;
    color: #003a44;
    text-decoration: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.header-link-warning{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: #c2dde4;
    text-decoration: none;
    transition-duration: 0.6s;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.header-link-warning:hover{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    background-color: #E94F37;
    color: #c2dde4;
    text-decoration: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-bottom-width: 1px;
}

.header-text{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: #c2dde4;
    background-color: #003a44;
    text-decoration: none;
    transition-duration: 0.6s;
    width: 200px;
    height: 40px;
}

.header-logo{
    width: 10%;
}

.header-menu{
    width: 90%;
}

.header-auth{
    width: auto;
}

.footer{
    height: 40px;
    background-color: #66a4ac;
    color: #c2dde4; 
    margin-top: -1px;
}

.footer-menu{
    width: 100%;
}

.footer-text{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    color: #c2dde4;
    background-color: #003a44;
    text-decoration: none;
    transition-duration: 0.6s;
    width: 200px;
    height: 40px;
}

.post-wrapper{
    width: 80%;
    margin-left: 10%;
}

.post-wrapper-mini{
    width: 50%;
    margin-left: 25%;
}

.post-wrapper-medium{
    width: 60%;
    margin-left: 20%;
}

.post{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    border-color: #DFE2DB;
    min-height: 100%;
}

.post_heading_block{
    border-color: #DFE2DB;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.post_space{
    margin-top: 30px;
    margin-top: 30px;
}

.post-block{
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-block-form{
    width: 60%;
    margin-left: 20%;
}

.block{
    margin-top: 5px;
    margin-bottom: 30px;
}

.block-profile{
    margin-top: 5px;
    margin-bottom: 15px;
}

.text_label{
    font-family: 'Helvetica Neue';
    font-size: 12.5px;
    font-style: normal;
    color: #3f3f44;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.text-profile{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-style: normal;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.post-subblock-img{
    width: auto;
}

.post-subblock-text{
    margin-left: 5px;
    font-family: 'Helvetica Neue';
    font-size: 12.5px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.h1 {
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin-right: 5px;
    margin-left: 5px;
}

.post-text{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    line-height: 1.50;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.post-text-short{
    display: -webkit-box;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    line-height: 1.50;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.post_img img{
    max-width: 95%;
    max-height: 95%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-color: #DFE2DB;
    border-radius: 4px;
}

.post_img_update img{
    max-width: 100%;
    max-height: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-color: #DFE2DB;
    border-radius: 4px;
}

.post_img_profile img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    margin-bottom: 30px;
    border-color: #DFE2DB;
    border-radius: 300px;
}

.post_img_profile_update img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    margin-bottom: 30px;
    border-color: #DFE2DB;
    border-radius: 300px;
}

.post_img_mini{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    border-color: #DFE2DB;
    border-radius: 300px;
}

.post_link{
    color: #8C489F;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-decoration: none;
}

.post_link:hover{
    color: #443266;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-decoration: none;
}

.post_link-mini{
    color: #443266;
    background-color: #;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-decoration: none;
    border-color: #6b4d6f;
}

.post_button{
    width: 150px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button:hover{
    width: 150px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    background-color: #c2dde4;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit{
    width: 150px;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    background-color: #ffffff;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit:hover{
    width: 150px;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    background-color: #c2dde4;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-delete{
    width: 150px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-delete:hover{
    width: 150px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    border-color: #003a44;
    background-color: #E94F37;
    color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit-delete{
    width: 150px;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    background-color: #ffffff;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit-delete:hover{
    width: 150px;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    border-color: #003a44;
    background-color: #E94F37;
    color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-big{
    width: 100%;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-big:hover{
    width: 100%;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    background-color: #c2dde4;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit-big{
    width: 100%;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    color: #003a44;
    background-color: #ffffff;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_button-submit-big:hover{
    width: 100%;
    height: 37px;
    margin-right: 5px;
    margin-left: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 4px;
    background-color: #c2dde4;
    color: #003a44;
    border-color: #003a44;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    cursor: pointer;
}

.post_form_input{
    width: 100%;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #DFE2DB;
}

.post_form_input_textarea{
    width: 100%;
    height: 280px;
    resize: none;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #DFE2DB;

}

.text-dedicated{
    font-family: 'Helvetica Neue';
    color: #66a4ac;
    font-size: 14px;
}

.text-regular{
    font-family: 'Helvetica Neue';
    color: #000000;
    font-size: 14px;
}

.profile-link{
    font-size: 16px;
    font-family: 'Helvetica Neue';
    text-decoration: none;
    color: #66a4ac;
}

.profile-link:hover{
    font-size: 16px;
    font-family: 'Helvetica Neue';
    text-decoration: none;
    color: #003a44;
}