html{
    position: relative;
    height: 100vh;
}
body{
    background-color: #F4F4F4; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
main{
    margin-top: 90px;
}
.message-wrapper{
    position: fixed;
    top: 42px;
    left: 0;
    right: 0;
}
.message-succsess{
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    background-color: #92D984;
    color: #3C5936;
    opacity: 50%;
}
.message-error{
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    background-color: #BF3F22;
    color: #ffffff;
    opacity: 50%;
}
.message-info{
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    background-color: #6889D9;
    color: #ffffff;
    opacity: 50%;
}
.header-menu{
    height: 42px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2A6264;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    opacity: 90%;
}
.header-menu-link{
    display: inline-flex;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-decoration: none;
    color: #8ABCBE;
    cursor: pointer;
}
.header-menu-link:hover{
    display: inline-flex;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #3A8C8C;
    cursor: pointer;
}
.header-menu-link-alarm{
    display: inline-flex;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-decoration: none;
    color: #8ABCBE;
    cursor: pointer;
}
.header-menu-link-alarm:hover{
    display: inline-flex;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #A67153;
    cursor: pointer;
}
.post-link{
    color: #3A8C8C;
    text-decoration: none;
    margin-left: 10px;
}
.post-link:hover{
    color: #095F73;
    text-decoration: none;
    margin-left: 10px;
}
.post-text-header{
    margin-left: 10px;
}
.post-text-сomment{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    white-space: pre-line;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.56;
}
.post-comment-line{
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #E9E9E9;
    padding-top: 12px;
}
.post-wrapper{
    width: 750px;
    margin: 0 auto;
    display: grid;
}
.post-wrapper-mini{
    max-width: 500px;
    margin: 0 auto;;
    display: grid;
}
.post-wrapper-medium{
    max-width: 650px;
    margin: 0 auto;;
    display: grid;
}
.post{
    border-radius: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #C8C8C8;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.comment-int{
    margin-bottom: 5px;
    margin-top: 5px;
}
.comment-lvl-1-ext{
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.comment-lvl-2-ext{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 25px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #E9E9E9;
}
.comment-wrapper-lvl-1{
    width: 750px;
    margin: 0 auto;
    display: flex;
    padding-top: 25px;
}
.comment-wrapper-lvl-2{
    padding-left: 65px;
    width: 685px;
    margin: 0 auto;
    display: flex;
}
.comment-wrapper-lvl-3{
    padding-left: 130px;
    width: 620px;
    margin: 0 auto;
    display: flex;
}
.comment-wrapper{
    border-radius: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #E9E9E9;
    background-color: #ffffff;
    margin-bottom: 2.5px;
    margin-top: 1px;
    width: 100%;
    margin-left: 15px;
}
.post-head{
    border-radius: 5px 5px 0px 0px;
    background-color: #FCFCFC;
    border-color: #E9E9E9;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}
.post-comment-head{
    border-radius: 5px 5px 0px 0px;
    background-color: #FCFCFC;
    border-color: #E9E9E9;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}
.post-content{
    border-radius: 0px 0px 5px 5px;
    background-color: #ffffff;
    border-left-width: 1px;
    border-color: #E9E9E9;
}
.post-button{
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
}
.post-img-mini{
    width: 38px;
    height: 38px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 50px;
    object-fit: cover;
    background-color: #ffffff;
    border-color: #E9E9E9;
}
.comment-img-mini{
    width: 41.5px;
    height: 41.5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 50px;
    object-fit: cover;
    background-color: #ffffff;
    border-color: #E9E9E9;
}
.post-img{
    max-width: 100%;
    max-height: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Для увеличения картинки по клику мыши */
#detailImg{
    cursor: pointer;
    transition: 0.5s;
}
/* #detailImg:hover {opacity: 0.7;} */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    max-height: 90%;
    margin-bottom: 40px;
    padding-top: 40px;
}
.model-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.8s;
    animation-name: zoom;
    animation-duration: 0.8s;
}
@-webkit-keyframes zoom{
    from{-webkit-transform: scale(0);}
    to{-webkit-transform: scale(1);}
}
@keyframes zoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.profile-photo{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 500px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-color: #E9E9E9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.prfile-text{
    width: 80%;
    margin-left: 20px;
}
.post-tag{
    display: flex;
    margin-left: 25px;
}
.post-tag-text{
    margin-right: 10px;
}
.tag-link{
    color: #C8C8C8;
    text-decoration: none;
}
.tag-link:hover{
    color: #000000;
    text-decoration: none;
}
.post-title{
    padding-left: 25px;
    padding-right: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #E9E9E9;
}
.post-title-text{
    color: #095F73;
}
.post-title-none-underline{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-color: #E9E9E9;
    margin-bottom: 20px;
}
.post-text{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5.5px;
    margin-top: 15px;
}
.profile-link{
    text-decoration: none;
    color: inherit;
}
.profile-link:hover{
    text-decoration: none;
    color: inherit;
}
.profile-link-line{
    color: #3A8C8C;
}
.profile-link-line:hover{
    color: #095F73;
}
.post-text-short{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
    line-height: 1.56;
}
.post-comment{
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    line-height: 1.56;
    padding-left: 10px;
}
.comment{
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 0 0 0 5px;
    border-color: #E9E9E9;
}
.button{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 5px;
    border-color: #C8C8C8;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    margin-bottom: 5px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #095F73;
    background-color: #FCFCFC;
    color: #095F73;
    cursor: pointer;
    text-decoration: none;
}
.button-alert{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    margin-bottom: 5px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #C8C8C8;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.button-alert:hover{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    margin-bottom: 5px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #8C5D42;
    background-color: #FFF0E8;
    color: #8C5D42;
    cursor: pointer;
    text-decoration: none;
}
.post-form-input{
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #E9E9E9;
}
.post-form-input-textarea{
    width: 100%;
    height: 200px;
    resize: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #E9E9E9;
}
.label{
    color: #B5B5B5;
    margin-bottom: 5px;
}
.drop-icon,
.icon{
    height: 18px;
    width: 18px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.drop-icon:hover{
    height: 18px;
    width: 18px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 2.5px; 
    border-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.drop-list{
    display: none;
    position: absolute;
    margin-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 2.5px;
    border-color: #E9E9E9;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.drop-list a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
.drop-list a:hover{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FCFCFC;
    border-color: #E9E9E9;
    border-radius: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
.show{
    display: grid;
}
.drop-link{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
.drop-link:hover{
    color: #3A8C8C;
    border-radius: 5px;
    background-color: #FCFCFC;
    border-color: #E9E9E9;
    border-radius: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
.ext-comment{
    margin-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    border-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;

}
.ext-comment:hover{
    margin-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #000000;
    background-color: #F4F4F4;
    border-color: #E9E9E9;
    border-radius: 5px;
    text-decoration: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
}
.inflex-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.inflex-left{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.inflex-right{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.post-block-form{
    padding-right: 25px;
    padding-left: 25px;

}

/* font block */

.font-nunito-light-normal{
    font-family: 'Nunito-Light';
    font-size: 14px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-nunito-light-large{
    font-family: 'Nunito-Light';
    font-size: 18px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-nunito-regular-normal{
    font-family: 'Nunito-Regular';
    font-size: 14px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-nunito-regular-large{
    font-family: 'Nunito-Regular';
    font-size: 18px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-light-normal{
    font-family: 'Roboto-Light';
    font-size: 14px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-light-large{
    font-family: 'Roboto-Light';
    font-size: 18px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-regular-normal{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-regular-large{
    font-family: 'Roboto-Regular';
    font-size: 18px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-bold-normal{
    font-family: 'Roboto-Bold';
    font-size: 14px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-roboto-bold-large{
    font-family: 'Roboto-Bold';
    font-size: 18px;
    font-weight: 500;
    line-break: auto;
    line-height: 22.5px;
    -webkit-font-smoothing: antialiased;
}
.font-regular-small{
    font-family: 'JetBrainsMono-Regular';
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-regular-medium{
    font-family: 'JetBrainsMono-Regular';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-regular-large{
    font-family: 'JetBrainsMono-Regular';
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-regular-x-large{
    font-family: 'JetBrainsMono-Regular';
    font-size: 28px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-bold-small{
    font-family: 'JetBrainsMono-Bold';
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-bold-medium{
    font-family: 'JetBrainsMono-Bold';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-bold-large{
    font-family: 'JetBrainsMono-Bold';
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-bold-x-large{
    font-family: 'JetBrainsMono-Bold';
    font-size: 28px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-italic-small{
    font-family: 'JetBrainsMono-Italic';
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-italic-medium{
    font-family: 'JetBrainsMono-Italic';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-italic-large{
    font-family: 'JetBrainsMono-Italic';
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.font-italic-x-large{
    font-family: 'JetBrainsMono-Italic';
    font-size: 28px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-regular-small{
    font-family: 'Anonymous-Pro-Regular';
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-regular-medium{
    font-family: 'Anonymous-Pro-Regular';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-regular-large{
    font-family: 'Anonymous-Pro-Regular';
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-regular-x-large{
    font-family: 'Anonymous-Pro-Regular';
    font-size: 28px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-bold-small{
    font-family: 'Anonymous-Pro-Bold';
    font-size: 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-bold-medium{
    font-family: 'Anonymous-Pro-Bold';
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-bold-large{
    font-family: 'Anonymous-Pro-Bold';
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.anonimus-font-bold-x-large{
    font-family: 'Anonymous-Pro-Bold';
    font-size: 28px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
